.fancybox-inner label{
margin-left:8px;
margin-right:18px;
}
.fancybox-inner{font-size:14px}
.fancybox-inner select{
height:41px;
border:1px solid #AAA;
padding:8px 11px 9px;
width:220px;
}
.fancybox-inner form{
padding:7px 14px 14px 0 ;
}
.fancybox-inner span.tip{
margin-left:18px;
}
.fancybox-inner .uibutton{
width:192px;
}
