#SsoLogin{
    text-align:center;
    padding:0;
    width:712px;
}
#SsoLogin .uibutton{
padding:9px 13px;
}
#SsoLogin h2{
color: #000;
font-size: 16px;
margin:0 0 0 94px;
padding:28px 0 33px;
text-align: left;
}
#SsoLogin a{
    display:inline-block;
    padding-left:60px;
    margin-bottom:36px;
}
#SsoLogin .weibo{
    background: url(/static/imgs/sns-icos-wb.png) no-repeat 0 4px;
}
#SsoLogin .google{
    background: url(/static/imgs/logo/google.png) no-repeat 0 4px;
}
#SsoLogin .douban{
    background: url(/static/imgs/logo/douban.png) no-repeat 3px 7px;
}
#SsoIframeW{
    width:700px;
    height:412px;
    background:url(/static/imgs/large-facebook.gif) no-repeat center center;
}
#SsoIframeW iframe{
    border:none;
    width:100%;
    height:100%;
    overflow:hidden;
}
#SsoReg{
font-weight:bold;
font-size:16px;
color:#000;
border-right:1px dotted #aaa;
float:right;
margin-top:2px;
padding-left:42px;
padding-right:42px;
margin-right:-7px;
}
#SsoReg h2{
margin:-1px 0 -37px;
}
#SsoNew .xlarge{
margin-left:57px;
width:201px;
}
#SsoNew .tip{
display: block;
font-size: 14px;
font-weight: bold;
margin-left: 69px;
margin-top: 2px;
position: absolute;
}
#SsoNew{
padding:20px 20px 20px 7px;
}
#SsoNew div{
font-size:16px;
margin-bottom:36px;
}
#SsoReg input{
margin-top:36px;
width:260px;
    border: 1px solid #AAAAAA;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 14px;
    height: 39px;
    line-height: 39px;
    padding: 0 9px;
    
}
#SsoRegFoot{
margin-top:36px
}
#SsoReg .tip a{
padding-left:0;
}
#SsoReg .tip{
position:absolute;
font-size:12px;
display:block;
margin-left:10px;
margin-top:6px;
}
#SsoRegFoot .forever{
float: left; font-weight: normal; line-height: 27px; margin-top: 7px;
}
#SsoRegFoot label{
margin-left:9px; padding-left: 0; float: right;
}
#SsoRegFoot .uibutton{
width: 116px;
margin-left:0;padding-left:0; 
float: right;
padding:9px;
}
#SsoReg #SsoRegForver{
display:inline-block;
line-height:37px;
padding:0;
margin:0;
height: auto; width: auto; vertical-align: -1px;
}
#SsoOauth{
margin-top:7px;
float:right;width:351px;
}
#SsoSended{
padding:0 13px 15px 18px;
font-size:16px
}
.submitHide{
height:0;
width:0;
overflow:hidden;
}